.section {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 30px;
  @media screen and (min-width: $size_tablet) {
    padding: 60px 30px;
  }
  p {
    text-align: justify;
    @media screen and (min-width: $size_tablet) {
      text-align: center;
    }
  }
}
