{
  "parser": "babel-eslint",
  "extends": [
    "react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "semi": 2,
    "eqeqeq": [
      "error",
      "always"
    ],
    "consistent-this": [
      "error",
      "that"
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
